# Thông tin nhạy cảm
*.env

# Thư viện và file build không cần thiết
frontend/node_modules/
backend/target/

# File hệ thống và IDE
.idea/

# Tài liệu và test
*/README.md

# File build cục bộ
frontend/.next/
backend/*.iml  # Với Spring Boot nếu có file .iml của IntelliJ
